html, body {
  margin: 0;
  padding: 0;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 93vw;
  height: 300px;
  display: inline-block;
  margin: 3vw 3vw;
  padding-left: 10%;
}

.pic-ctn > img {
  position: absolute;
  width: 30em;
  height: 100%;
  top: 2vh;
  left: calc(20%)
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

body{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}


header{
  background-image: url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F765877054%2F960x0.jpg%3Ffit%3Dscale");
  padding-top: 1%;
  padding-bottom: 4%;
}
header h1{
  margin-left: 15%;
  margin-bottom: 2%;
  font-size: 3.5em;

}

nav{
  display: inline-block;
  width: 100vw;

}
nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav li{
  display: inline-block;
  width: 20vw;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  text-align: center;
  text-decoration: none;
  background-color: rgba(126, 128, 127, 0.6);
}
nav li ul{
  position: absolute;
  display: none;
  width: inherit;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 0;
}
nav li:hover ul{
  display: block;
}
nav li ul li{
  display: block;
}
.current{
  background-color: rgba(181, 20, 5, 0.4); 
}
nav li:hover{
  background-color: rgba(181, 20, 5, 0.4);
}

iframe{
  width: 70vw;
}
.videos{
  margin: 3% 15%;
}

#email{
  background-color: rgba(255, 255, 255);
}

article{
  overflow: auto;
  margin: 2% 5%;
}
article h2{
  display: none;
}
article span{
  font-size: 2em;
  font-variant: small-caps;
  color: rgb(181, 20, 5); 
}
h2{
  text-align: center;
}

.allButFooter{
  min-height: calc(100vh - 70px);
}
footer{
  text-align: center;
  clear: both;  
}

